# This workflow updates some specific metadata fields for a dataset in CKAN.
name: Datenregister Dataset Update
on:
  push:
    branches:
      # name of the main branch, could `master` or something more specific
      - main
env:
  CKAN_TOKEN: ${{secrets.CKAN_TOKEN}}
jobs:
  dataset_update:
    runs-on: ubuntu-latest
    name: Dataset Update
    steps:
      # check out this repo
      - uses: actions/checkout@v2
      - name: Install Requirements
        run: |
          pip install -r requirements.txt
      - name: Run Updater
        run: |
          python bin/custom_updater.py